html,
body,
#main {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    background: rgb(53, 0, 151);
}

#main {
    min-width: 300px;
    align-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}

:root {
    -webkit-font-smoothing: antialiased
}

* {
    box-sizing: border-box;
    -webkit-font-smoothing: inherit
}

h1,
h2,
h3, 
h4,
p,
button,
figure {
    margin: 0;
    color: rgb(255, 255, 255);
    font-family: Gilgan, Arial, sans-serif;
    font-weight: 400;
}

/* MAIN BACKGROUND */

#main-background-container {
    position: absolute;
    height: auto;
    width: 100%;
}

#main-background {
    width: 100%;
}

/* MENU */

#menu-bar {
    align-content: center;
    align-items: center;
    display: flex;
    flex: none;
    flex-direction: column;
    flex-wrap: nowrap;
    gap: 0px;
    height: min-content;
    justify-content: flex-start;
    min-height: 30px;
    overflow: visible;
    padding: 4vh 0vw 0.5vh 0vw;
    width: 100%;
    will-change: transform;
    z-index: 3
}

#menu {
    align-content: center;
    align-items: center;
    display: flex;
    flex: none;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 3vw;
    height: 4vh;
    justify-content: center;
    min-height: 30px;
    overflow: hidden;
    padding-top: 6px;
    padding-bottom: 4px;
    padding-left: 8px;
    padding-right: 8px;
    position: relative;
    width: 100%;
    max-width: 1300px;
    font-family: Gilgan, sans-serif;
    font-size: 1em;
    color: #fff;
    z-index: 1
}

.menu-item {
    flex: 0 0 0px;
    display: flex;
    flex-direction: row;
    font-size: .9em;
    height: 100%;
    gap: 14px;
    align-items: center;
}

.menu-item * {
    height: auto;
}

#menu-logo {
    height: 100%;
    border-radius: inherit;
    object-position: center;
    object-fit: contain;
    image-rendering: auto;
}

#menu-logo img {
    height: 100%;
    border-radius: inherit;
    object-position: center;
    object-fit: contain;
    image-rendering: auto;
}

#menu-title {
    opacity: 1;
    flex: 1 0 0px;
    height: auto;
    font-family: Gilgan;
    font-size: 1em;
    position: relative;
}

#menu-social * {
    height: 100%;
}

#hero-section,
#menu-bar {
    width: 93vw;
}

/* HERO SECTION */

#hero-section {
    pointer-events: all;
    justify-content: center;
    align-items: center;
    display: flex;
    padding: 0px 30px;
    flex: none;
    flex-direction: column;
    flex-wrap: nowrap;
    gap: 10px;
    overflow: visible;
    max-width: 1300px;
    height: 70vh;
    z-index: 1;
}

#hero-content {
    display: flex;
    flex: none;
    flex-direction: row;
    height: 90%;
    position: relative;
    width: 100%;
    z-index: 5;
    align-content: center;
    align-items: center;
}

/* HERO HEADLINE */

#hero-headline {
    pointer-events: none;
    display: flex;
    flex-direction: column;
    width: 60%;
    align-items: start;
}

#hero-headline h2 {
    font-family: 'Gilgan', sans-serif;
    font-size: 4vw;
    letter-spacing: 0.0em;
    line-height: 1.5em;
    text-align: right;
    color: rgb(255, 255, 255);
}

#hero-headline h2>span {
    border-right: 2px solid #fff;
    animation: caret-blink 1s steps(2, jump-both) infinite;
}

/* GAMEBOY */

#hero-gameboy {
    position: relative;
    width: 40%;
    height: 100%;
    right: -3vw;
    display: flex;
    padding: 2% 0;
    flex-direction: column;
    justify-content: right;
    align-items: center;
}

/* TABS */

#tabs-container {
    position: relative;
    display: flex;
    width: 93vw;
    padding: 0;
    align-content: start;
    align-items: center;
    background-color: #0a0a0a;
    filter: drop-shadow(0px 1px 20px #00000071);
    border-radius: 20px;
    border-top: 2px solid rgb(51, 36, 70);
    flex: none;
    flex-direction: column;
    flex-wrap: nowrap;
    gap: 1em;
    max-width: 1300px;
    overflow: hidden;
    z-index: 2;
}

#tabs-anchor {
    position: absolute;
    top:-10px;
}

/* TABS MENU */

#tabs-menu {
    display: flex;
    list-style: none;
    flex-direction: row;
    flex-shrink: 0;
    width: 100%;
    align-items: center;
    justify-content: center;
    font-size: 1.1em;
    font-family: Gilgan;
    color: #a1a1a1;
    border-bottom: solid 1px rgb(34, 33, 33);
    padding: 1.2em;
    margin: 0;
}

.tabs-menu-item {
    flex-grow: 0;
    padding: 0 1em;
    position: relative;
    bottom: 0px;
}

.tabs-menu-title {
    display: flex;
    position: relative;
    cursor: pointer;
    font-size: 1.2em;
    font-family: Gilgan;
    color: #a1a1a1;
    height: 100%;
    bottom: 0px;
    text-decoration: none;
    overflow: hidden;
    /* transition: color 300ms, font-size 300ms; */
}

.tabs-menu-title.active {
    /* font-size: 3em; */
    color: #ffffff;
}

.tabs-menu-title:hover {
    /* transform: scale(1.1); */
    color: rgb(200, 167, 255);
}

.tabs-menu-title.active:hover {
    color: #ffffff;
}

/* TABS UNDERLINE */

.tabs-menu-title::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    height: 0.1em;
    width: 100%;
    background-color: rgb(99, 6, 248);
    transition: transform 600ms, background-color 600ms;
    transform: translate3d(-100%, 0, 0);
}

.tabs-menu-title.active::after {
    transform: translate3d(0, 0, 0);
    background-color: rgb(255, 255, 255);
}

.tabs-menu-title.active:hover::after {
    background-color: rgb(255, 255, 255);
}

/* TABS CONTENT */

.tabs-content {
    display: none;
    width: 100%;
    min-height: 1500px;
    opacity: 0;
    transition: opacity 600ms;
    color: white;
}

.tabs-content.active {
    display: flex;
    opacity: 1;
}

#project-list {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: start;
    padding: 1em 4em;
    gap: 4em;
}

.project-featured {
    display: flex;
    overflow: hidden;
    width: 100%;
    height: fit-content;
    gap:1em;
}


.project-featured img {
    width: 100%;
    object-fit:cover;
}

.project-featured .cover {
    box-sizing: border-box;
    display: flex;
    height: fit-content;
    width: 75%;
    border-radius: 10px;
    aspect-ratio: 16 / 9;
    border-left: solid 1px rgb(26, 18, 36);
    border-right: solid 1px rgb(26, 18, 36);
    border-bottom: solid 2px rgb(39, 27, 54);
}

#the-garden .cover {
    border-left: solid 1px rgb(18, 36, 22);
    border-right: solid 1px rgb(18, 36, 20);
    border-bottom: solid 2px rgb(37, 75, 45);
}

#karmazoo .cover {
}

.project-featured-info {
    display: flex;
    flex-direction: column;
    justify-content: end;
    width: 25%;
    gap: 0.5em;
}

.align-right .project-featured-info {
    justify-content: start;
    align-items: end;
}

.project-featured-info h3 {
    font-size: 1.2em;
}

.project-featured-info h4 {
    font-size: 0.8em;
}

.align-right h4 {
    text-align: end;
}

.project img {

}

/* CONTACT */

#contact-section {
    height:1000px; 
    width:100%; 
    background-color: rgb(53, 0, 151);
    margin-top: 5em;
}


/* BUTTONS */

.button {
  background-image: linear-gradient(20deg, #272727 50%,  #673FD7 100%);
  border-radius: 10px;
  border-style: none;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  flex-shrink: 0;
  padding: 1rem 1.6rem;
  text-align: center;
  text-shadow: rgba(0, 0, 0, 0.25) 0 3px 8px;
  transition: all .5s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  text-decoration: none;
}

.button-36:hover {
  box-shadow: rgba(80, 63, 205, 0.5) 0 1px 30px;
  transition-duration: .1s;
}

@media (min-width: 768px) {
  .button-36 {
    padding: 0 2.6rem;
  }
}

.button-22:active {
  background-color: #006AE8;
}

.button-22:hover {
  background-color: #1C84FF;
}

/* FONT */

@font-face {
    src: url(assets/gilgan.otf);
    font-display: block;
    font-family: Gilgan;
    font-style: normal;
    font-weight: 400;
}



/* ******************************** */
/* ********** RESPONSIVE ********** */
/* ******************************** */
@media screen and (min-width: 1200px) {
    #hero-headline h2 {
        font-size: 3em;
    }
}

@media screen and (max-width: 768px) {
    #hero-section {
        height: 90vh;
    }

    #hero-content {
        flex-direction: column;
        padding: 5vh 0;
        gap: 20px;
    }

    #hero-headline {
        height: 25%;
        width: 100%;
    }

    #hero-headline h2 {
        text-align: left;
        font-size: 2em;
    }

    #hero-gameboy {
        height: 75%;
        width: 100%;
        padding: 0% 0%;
        right: auto;
    }

    #tabs-container {
        width: 99vw;
    }
}