html,
body,
#main {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    background: rgb(53, 0, 151);
    min-width: 300px;
}

:root {
    -webkit-font-smoothing: antialiased
}

* {
    box-sizing: border-box;
    -webkit-font-smoothing: inherit
}

#main {
    align-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}

#main-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: opacity 300ms ease, transform 300ms ease;
}

h1,
h2,
h3,
h4,
p,
a,
button,
figure {
    margin: 0;
    color: rgb(255, 255, 255);
    font-family: Gilgan, Arial, sans-serif;
    font-weight: 400;
}

p {
    font-family: LINESeed, Arial, sans-serif;
}

/* MAIN BACKGROUND */

#main-background-container {
    position: absolute;
    height: auto;
    width: 100%;
}

#main-background {
    width: 100%;
}

/* MENU */

#menu-bar {
    position: sticky;
    align-content: center;
    align-items: center;
    display: flex;
    flex: none;
    flex-direction: column;
    flex-wrap: nowrap;
    gap: 0px;
    height: min-content;
    justify-content: flex-start;
    min-height: 30px;
    overflow: visible;
    padding: 4vh 0vw 0.5vh 0vw;
    width: 100%;
    will-change: transform;
    z-index: 3
}

#menu {
    align-content: center;
    align-items: center;
    display: flex;
    flex: none;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 3vw;
    height: 2rem;
    justify-content: center;
    min-height: 30px;
    overflow: hidden;
    padding-top: 6px;
    padding-bottom: 4px;
    position: relative;
    width: 100%;
    max-width: 1300px;
    font-family: Gilgan, sans-serif;
    font-size: 1rem;
    color: #fff;
    z-index: 1
}

.menu-item {
    flex: 0 0 0px;
    display: flex;
    flex-direction: row;
    font-size: .9rem;
    height: 100%;
    gap: 14px;
    align-items: center;
}

.menu-item * {
    height: auto;
}

#menu-logo {
    height: 100%;
    border-radius: inherit;
    object-position: center;
    object-fit: contain;
    image-rendering: auto;
}

#menu-logo img {
    height: 150%;
    border-radius: inherit;
    object-position: center;
    object-fit: contain;
    image-rendering: auto;
}

#menu-title {
    height: 100%;
    opacity: 1;
    flex: 1 0 0px;
    font-size: 1rem;
    font-weight: 200;
    position: relative;
}

#menu-social * {
    height: 100%;
    opacity: 0.65;
}

#menu-social *:hover {
    height: 100%;
    opacity: 1;
}


#hero-section,
#menu-bar {
    width: 93vw;
}

/* HERO SECTION */

#hero-section {
    position: relative;
    pointer-events: all;
    justify-content: center;
    align-items: center;
    display: flex;
    padding: 1rem 0 0 0;
    flex: none;
    flex-direction: column;
    flex-wrap: nowrap;
    gap: 10px;
    overflow: visible;
    max-width: 1300px;
    height: 70vh;
    z-index: 1;
}

#hero-content {
    position: relative;
    display: flex;
    flex: none;
    flex-direction: row;
    width: 100%;
    height: 100%;
    z-index: 5;
    align-content: center;
    align-items: center;
}

/* HERO HEADLINE */

#hero-headline {
    pointer-events: none;
    display: flex;
    flex-direction: column;
    width: 60%;
    align-items: start;
}

#hero-headline h2 {
    font-family: 'Gilgan', sans-serif;
    font-size: 4vw;
    letter-spacing: 0.0rem;
    line-height: 4rem;
    text-align: right;
    color: rgb(255, 255, 255);
    text-shadow: 1px 0px 0 rgb(250, 78, 250), -1px 0px 0 rgb(78, 89, 250);
}

#hero-headline h2>span {
    border-right: 2px solid #fff;
    animation: caret-blink 1s steps(2, jump-both) infinite;
}

/* GAMEBOY */

#hero-gameboy {
    width: 40%;
    height: 100%;
    right: -3vw;
    display: flex;
    padding: 0 0;
    flex-direction: column;
    justify-content: right;
    align-items: center;
    border-radius: 10px;
    border: solid 1px rgba(255, 255, 255, 0);
}

#hero-gameboy:hover #hero-gameboy:active {
    border: solid 1px rgba(255, 255, 255, 0);
}

#gameboy-fullscreen-toggle {
    position: absolute;
    top: 12px;
    right: 8px;
}

#gameboy-fullscreen-toggle img {
    width: 16px;
    opacity: 0;
    transition: opacity 300ms;
}

#hero-gameboy:hover #gameboy-fullscreen-toggle img {
    opacity: 0.5;
}

#hero-gameboy:hover #gameboy-fullscreen-toggle img:hover {
    opacity: 1.0;
}

/* WORK */

#work {
    position: relative;
    display: flex;
    width: 93vw;
    padding: 0;
    align-content: start;
    align-items: center;
    flex: none;
    flex-direction: column;
    flex-wrap: nowrap;
    gap: 1rem;
    z-index: 2;

    transition: opacity 300ms;
}

#work h2 {
    display: none;
    font-size: 3rem;
    letter-spacing: 2rem;
    margin: 1rem 0;
    opacity: 0.5;
}

#project-list {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    max-width: 1300px;
    justify-content: center;
    padding: 2em 0rem;
    gap: 1rem;
}

.project-featured {
    display: flex;
    flex-basis: calc(50% - 10px);
    height: 400px;
}

.project-featured img {
    width: 100%;
    object-fit: cover;
}

.project-featured .cover {
    box-sizing: border-box;
    display: flex;
    height: 100%;
    width: 100%;
    border-radius: 10px;
    aspect-ratio: 16 / 9;
    /* border-top: solid 2px rgba(0, 0, 0, 0.603);
    border-left: solid 1px rgba(0, 0, 0, 0.521);
    border-right: solid 1px rgba(0, 0, 0, 0.466);
    border-bottom: solid 0px black; */
    color: #00000000;
    filter: drop-shadow(0px 0px 10px #0000008e);
}

.project-featured .cover * {
    overflow: hidden;
    border-radius: 10px;
    border: solid 0px black;
    background-color: #000000;
}

#the-garden .cover {
    /* border-top: solid 2px rgb(37, 75, 69);
    border-left: solid 1px rgb(18, 36, 22);
    border-right: solid 1px rgb(18, 36, 20); */
}

#karmazoo .cover {}

.project-featured-info {
    display: flex;
    flex-direction: column;
    justify-content: start;
    gap: 1rem;
}

.project-featured-text {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.project-featured-category {
    flex-shrink: 0;
    width: fit-content;
    padding: 0.5rem 1rem 0.4rem 1rem;
    border-radius: 40px;
    background-color: #191919;
    font-size: 0.7rem;
}

.project-featured-info h3 {
    display: flex;
    text-justify: auto;
    font-size: calc(2.5rem + 1vw);
    text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.171);
}

.project-featured-info h4 {
    color: #ffffffe5;
    text-justify: auto;
    text-align: justify;
    font-size: calc(0.7rem + 0.2vw);
    line-height: 1rem;
    text-shadow: 0px 0px 2px rgba(0, 0, 0, 0.171);
}

.project {
    display: flex;
    flex-basis: calc(33% - 10px);
}

.project img {
    width: 100%;
    height: 300px;
    object-fit: cover;
}

/* OVERLAY */

#overlay {
    opacity: 0;
    position: fixed;
    top: 0px;
    display: none;
    padding: 2rem 3.5vw;
    justify-content: center;
    align-items: start;
    overflow: auto;
    width: 100%;
    height: 100%;
    z-index: 10;
    backdrop-filter: blur(2px);

    transform: translateY(20px);
    transition: opacity 300ms ease, transform 300ms ease;
}

#overlay-content {
    position: relative;
    padding: 4rem;
    border-radius: 10px;
    background-color: #141414;
    width: 100%;
    max-width: 1300px;
    min-height: 100vh;
    filter: drop-shadow(0px 0px 20px #000000af);
}

#overlay-close {
    display: flex;
    position: absolute;
    top: 0px;
    right: 0px;
    cursor: pointer;
    padding: 10px 14px;
    justify-content: center;

    background-color: rgb(34, 34, 34);

    border: none;
    border-radius: 0px 10px 0px 10px;
}

#overlay-close:hover {
    background-color: #bd19a1;
}

#overlay-close img {
    width: 12px;
    height: 12px;
}

.project-info {
    display: none;
    flex-direction: column;
    width: 100%;
    gap: 2rem;
}

.project-info-title {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: start;
    align-items: start;
    margin-bottom: 1rem;
}

.project-info-title h2{
    flex-grow: 1;

    font-size: 4vw;
}

.project-info-tag-list {
    display: flex;
    flex-direction: row;
    gap: 0.7rem;
}

.project-info-tag {
    flex-grow: 0;
    height: fit-content;
    padding: 8px 16px 6px 16px;
    
    color: #b86bff;
    background-color: transparent;
    border: solid 2px #b86bff;
    border-radius: 100px;
    font-size: calc(0.3rem + 0.7vw);
}

/* DOWNLOAD BUTTON */

.download-button {
    display: flex;
    gap: 1rem;
    width: fit-content;
    padding: 0.8rem 1.5rem 0.6rem 1.5rem;
    align-items: baseline;
    align-self: center;

    text-decoration: none;
    background: linear-gradient(90deg, rgb(111, 0, 255) 0%, rgb(153, 0, 255) 100%);
    border-radius: 10px;
    border-bottom: solid 4px rgb(88, 0, 202);
}

.download-button:hover {
    background: linear-gradient(90deg, rgb(129, 32, 255) 0%,rgb(166, 31, 255) 100%);
    border-bottom: solid 4px rgb(106, 0, 245);
}

.download-button h3{
    font-size: 1rem;
}

.download-button p{
    font-family: Gilgan;
    font-size: 0.8rem;
}

/* MEDIA */

.youtube-embed {
    width: 100%;
    height: fit-content;
    aspect-ratio: 16 / 9;
    border-radius: 10px;
}


/* CONTACT */

#contact-section {
    height: 1000px;
    width: 100%;
    background-color: rgb(53, 0, 151);
    margin-top: 5rem;
}

/* 3D CARD EFFECT */

.card {
    font-weight: bold;
    text-align: right;
    color: #181a1a;

    box-shadow: 0 1px 5px #00000099;

    border-radius: 10px;
    background-size: cover;

    position: relative;
    overflow: hidden;
    cursor: pointer;

    transition-duration: 300ms;
    transition-property: transform, box-shadow;
    transition-timing-function: ease-out;
    transform-origin: center;
    /* Center the transform origin */
    transform: none;
}

.card:hover {
    transition-duration: 150ms;
    box-shadow: 0 5px 20px 5px #00000044;
}

.card .glow {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;

    background-image: radial-gradient(circle at 50% -20%, #ffffff22, #0000000f);
}

.card-label {
    text-align: start;
    position: absolute;
    top: 0;
    align-self: center;
    padding: 0.5rem 1rem 0.4rem 1rem;

    font-size: 0.8rem;

    background-color: #00000000;
    text-shadow: rgba(0, 0, 0, 0.25) 0 3px 8px;
    color: white;
    border-radius: 0 0 10px 0;
}

.project-featured .card-label{
    font-size: 0.9rem;
}


/* BUTTONS */

.button {
    flex-shrink: 0;
    width: fit-content;
    color: #ffffff;
    box-sizing: border-box;
    cursor: pointer;
    background-color: rgb(53, 0, 151);
    font-size: 0.8rem;
    padding: 0.8rem 1.4rem;
    text-align: center;
    text-shadow: rgba(0, 0, 0, 0.25) 0 3px 8px;
    transition: all .5s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    text-decoration: none;
    border-radius: 10px;
    border-style: none;
    border-top: solid 3px rgb(75, 6, 202);
    border-left: solid 1px rgb(75, 6, 202);
    border-right: solid 1px rgb(75, 6, 202);
}

.button:hover {
    /* box-shadow: rgba(80, 63, 205, 0.5) 0 1px 30px; */
    background-color: rgb(66, 4, 182);
    color: #fff;
    border-top: solid 3px rgb(87, 9, 231);
    border-left: solid 1px rgb(87, 9, 231);
    border-right: solid 1px rgb(87, 9, 231);
    transition-duration: .1s;
}


/* DYNAMIC FADE EFFECT */

.fade {
    opacity: 0;
}


/* FONT */

@font-face {
    src: url(assets/gilgan.otf);
    font-display: block;
    font-family: Gilgan;
    font-style: normal;
    font-weight: 400;
}

@font-face {
    src: url('assets/LINESeedSans_W_Rg.woff') format('woff'),
    url('assets/LINESeedSans_A_Rg.ttf') format('truetype'),
    url('assets/LINESeedSans_W_Rg.eot') format('embedded-opentype'),
    url('assets/LINESeedSans_Rg.otf') format('opentype');
    font-display: block;
    font-family: LINESeed;
    font-style: normal;
    font-weight: 400;
}


/* ******************************** */
/* ********** RESPONSIVE ********** */
/* ******************************** */
@media screen and (min-width: 1200px) {
    #hero-headline h2 {
        font-size: 3rem;
    }

    .project-info-title {
        flex-direction: row;
        font-size: 3rem;
    }

    .project-info-title h2 {
        font-size: 3rem;
    }

    .project-info-title h4 {
        font-size: 0.8rem;
    }
}

@media screen and (max-width: 768px) {
    #menu-language {
        display: none;
    }

    #menu-social {
        display: none;
    }

    #hero-section {
        height: 60vh;
    }

    #hero-content {
        justify-content: center;
        align-items: start;
        flex-direction: column;
        height: 100%;
        padding: 1rem 0 0rem 0;
        gap: 0;
    }

    #hero-headline {
        height: fit-content;
        width: auto;
        padding: 0 0 1rem 0;
        z-index: 5;
    }

    #hero-headline h2 {
        text-align: left;
        font-size: calc(1rem + 3vw);
        line-height: calc(2rem + 3vw);
    }

    #hero-gameboy {
        position: absolute;
        height: 100%;
        width: 100%;
        right: -20%;
        top: -10%;

        padding: 0% 0%;
    }

    #hero-gameboy:hover {
        border: solid 1px rgba(255, 255, 255, 0.199);
    }

    #gameboy-fullscreen-toggle {
        display: none;
    }

    #work h2 {
    }

    #project-list {
        width: 100vw;
        padding: 0rem 1rem;
        gap: 1rem;
    }

    .project-featured {
        flex-basis: calc(100%);
    }

    .project {
        flex-basis: calc(50% - 0.5rem);
    }

    #overlay-content {
        padding: 2rem 1.5rem;
    }

    .project-info-title {
    }

    .project-info-title h2 {
        font-size: calc(1rem + 3vw);
    }

    .project-info-title h4 {
        font-size: calc(0.3rem + 1vw);
    }

    #overlay-content .youtube-embed{
        align-self: center;
        width: calc(100% + 3rem);
        border-radius: 0px;
    }
}